html {
    height: var(--height700);
    scroll-behavior: smooth;
    background: var(--colorWhite);
}
body {
    height: var(--height700);
    margin: 0;
    font-family:'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}