:root{
    --border-radius:5px;
    --color: #a171a6;
    --colorWhite: white;
    --colorBlack: black;
    --colorLightpurple: #ebcfee;
    --colorDarkpurple: #605161;
    --maxWidth: 768px;
    --displayFlex: flex;
    --spaceAround: space-around;
    --fixedPosition: fixed;
    --borderRadius: 5px;
}