:root{
    --border-radius: 5px;
    --border-radius-15: 15px;
    --color: #a171a6;
    --colorWhite: white;
    --colorGray: gray;
    --colorOrange: orange;
    --colorGreen: green;
    --colorBlack: black;
    --colorLightpurple: #ebcfee;
    --colorDarkpurple: #605161;
    --colorRed: red;
    --hoverButtons: blue;
    --maxWidth: 768px;
    --displayFlex: flex;
    --flexColumn: column;
    --flexRow: row;
    --spaceAround: space-around;
    --spaceBetwen: space-between;
    --justify-start: start;
    --alignCenter: center;
    --fixedPosition: fixed;
    --borderRadius: 5px;
    --cursor: pointer;
    --margin-0-auto: 0 auto;
    --height700: 750px;
    --inlineBlock: inline-block;
    --block: block;
    --width50: 50%;
    --width60: 60%;
    --width70: 70%;
    --width80: 80%;
    --width100: 100%;
    --px-10: 10px;
    --px-20: 20px;
    --px-30: 30px;
    --px-40: 40px;
    --px-50: 50px;
    --px-60: 60px;
    --px-80: 80px;
    --px-100: 100px;
    --px-115: 115px;
    --text-align: start;
    --text-center: center;
    --textUnderline: underline;
    --height-auto: auto;
    --transition-1-5: color 1.5s ease;
    --box-shadow: var(--colorLightpurple) 0px 2px 8px 0px;
}