:root{
    --border-radius: 5px;
    --color: #a171a6;
    --colorWhite: white;
    --colorGray: gray;
    --colorOrange: orange;
    --colorGreen: green;
    --colorBlack: black;
    --colorLightpurple: #ebcfee;
    --colorDarkpurple: #605161;
    --colorRed: red;
    --maxWidth: 768px;
    --displayFlex: flex;
    --flexColumn: column;
    --spaceAround: space-around;
    --spaceBetwen: space-between;
    --fixedPosition: fixed;
    --borderRadius: 5px;
    --cursor: pointer;
    --hoverButtons: rgba(17, 17, 201, 0.425);
    --margin-0-auto: 0 auto;
    --height700: 750px;
    --inlineBlock: inline-block;
    --width80: 80%;
    --text-align: start;
    --text-center: center;
    --textUnderline: underline;
    --height-auto: auto;
}