.App {
  max-width: 100%;
  height: 1000px;
  margin: 0 auto;
  text-align: center;
  background: #ffffff;
  color: rgb(0, 0, 0);
}
.form-container{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
p{
  margin: 100px auto;
  padding: 10px;
  word-wrap: break-word;
}
:where(.css-dev-only-do-not-override-1r287do).ant-form:not(.ant-form-inline) .ant-form-item .ant-form-item-control:not([class*=" ant-col-xs"]){
  flex: auto;
}