.news-wrapper{
    height: var(--height-auto);
}
.news-bg-wrapper{
    padding-top: var(--px-60);
    padding-bottom: var(--px-100);
}
.carousel-wrapper{
    top: 60px;
    margin: var(--margin-0-auto);
    width: var(--width100);
    max-width: var(--maxWidth);
    height: 400px;
    position: fixed;
}
.news-inner:first-child{
    padding-top: 400px;
}
.news-inner{
    display: var(--displayFlex);
    flex-direction: var(--flexColumn);
    justify-content: var(--justify-center);

    .ant-empty{
       margin-top: 80px;

        .ant-empty-description{
            color: var(--colorWhite)
        }
        
    }
    .empty-news-description{
        color: var(--colorGray);
    }

    .bakery, .coffee, .order-cake{
        padding: var(--px-50);
        height: 280px;
        display: var(--displayFlex);
        flex-direction: var(--flexColumn);

        p,span{
            width: var(--width80);
            padding: 5px;
            background-color: rgba(255, 255, 255, 0.877);
            text-align: var(--text-center);
            border-radius: var(--border-radius-15);
            font-weight: 500;
        }

        span{
            margin-top: var(--px-10);
            display: var(--inlineBlock);
            font-size: var(--px-10);
        }
    }

    .bakery{
        background-image: url('./welcome.jpg');
        background-size: cover;
    }
    .coffee{
        background-image: url('./coffee.jpg');
        background-size: cover;
    }
    .order-cake{
        background-image: url('./order-cake.jpg');
        background-size: cover;
    }
    
    .news-order-inner{
        display: var(--displayFlex);
        justify-content: var(--spaceBetwen);
        align-items: center;
        padding: var(--px-10);
        margin: var(--px-10) var(--px-10) 0;
        border: 1px dashed var(--colorLightpurple);
        border-radius: var(--border-radius);
        
        .accept-order-button{
            cursor: var(--cursor);
            svg{
                color: var(--color);
            }
            svg:hover{
                color: var(--colorGreen);
            }
        }
        .delete-order-button{
            cursor: var(--cursor);
            svg{
                color: var(--color);
            }
            svg:hover{
                color: var(--colorRed);
            }
        }

        .order-buttons{
            display: var(--displayFlex);
            flex-direction: var(--flexColumn);
            justify-content: var(--spaceBetwen);

            .anticon{
                margin-top: 15px;
                margin-bottom: 15px;
            }
            svg{
                width: 20px;
                height: 20px;
            }
            .order-accepted{
                width: 40px;
                height: 40px;
                svg{
                    width: 40px;
                    height: 40px;
                    color: var(--colorGreen);
                }
            }
            .order-accepted:last-child{
                svg{
                    color: var(--colorRed);
                }
            }
        }

        img{
            cursor: var(--cursor);
            width: var(--px-100);
            height: var(--height-auto);
            border-radius: var(--border-radius);
        }
        .order-description-admin{
            width: 60%;
            display: var(--displayFlex);
            flex-direction: var(--flexColumn);
            justify-content: var(--spaceAround);

            p{
                padding: 0;
            }
            span{
                width: var(--width80);
                margin: 0 auto;
                text-align: var(--text-align);
            }
        }
        .order-description{
            width: 60%;
            padding: var(--px-10);
            p{
                margin: 0;
                text-align: var(--text-align);
                padding-top: 0;
                padding-bottom: 10px;
            }
            .order-in-progress{
                color: var(--color);
            }
            span{
                display: var(--block);
                color: var(--colorGray);
                text-align: var(--text-align);
                font-weight: 500;
            }
        }
    }
}
.ant-btn-primary{
    /* background: var(--color); */
}
