.settings-div{
    height: var(--height700);
    padding-top: 60px;
    display: var(--displayFlex);
    flex-direction: var(--flexColumn);
    align-items: var(--alignCenter);
    justify-content: var(--spaceAround);
    a{
        width: var(--width80);
        display: var(--displayFlex);
        justify-content: var(--spaceAround);
        .right-arrow, .right-arrow svg {
            width: 20px;
            height: auto;
            color: var(--color);
        }
    }

    a:first-child{
        margin-top: 60px;
    }
    a:last-child{
        margin-bottom: 100px;
    }
}
.settings-card{
    color: var(--colorBlack);
    margin: var(--margin-0-auto);
    padding: 20px;
    width: 60%;
    height: 100px;
    border: 1px dashed var(--colorBlack);
    display: var(--displayFlex);
    flex-direction: var(--flexColumn);
    justify-content: var(--spaceBetwen);
    border-radius: var(--borderRadius);
    align-items: var(--alignCenter);
    .anticon, .anticon svg {
        width: 60px;
        height: 60px;
        color: var(--color);
    }
    cursor: pointer;
}
.settings-card:hover,
.backward-button:hover{
    box-shadow: var(--box-shadow);
}
.add-settings-div{
    height: var(--height700);
}