.settings-div{
    height: var(--height700);
    padding-top: var(--px-60);
    display: var(--displayFlex);
    flex-direction: var(--flexColumn);
    align-items: var(--alignCenter);
    justify-content: var(--spaceAround);
    a{
        width: var(--width80);
        display: var(--displayFlex);
        justify-content: var(--spaceAround);
        
        .right-arrow, .right-arrow svg {
            width: var(--px-20);
            height: auto;
            color: var(--color);
        }
        .right-arrow{
            padding-right: var(--px-20);
        }
    }
    a:first-child{
        margin-top: var(--px-60);
    }
    a:last-child{
        margin-bottom: var(--px-100);
    }
}
.settings-card{
    color: var(--colorBlack);
    margin: var(--margin-0-auto);
    padding: var(--px-20);
    width: var(--width60);
    height: var(--px-100);
    border: 1px dashed var(--colorBlack);
    display: var(--displayFlex);
    flex-direction: var(--flexColumn);
    justify-content: var(--spaceBetwen);
    border-radius: var(--border-radius);
    align-items: var(--alignCenter);

    .anticon, .anticon svg {
        width: var(--px-60);
        height: var(--px-60);
        color: var(--color);
    }
    cursor: pointer;
}

.add-settings-div{
    height: var(--height700);
    padding-top: var(--px-60);

    p{
        padding-top: var(--px-100);
    }
    
    form{
        height: var(--width70);
        
        .form-button{
            margin-top: var(--px-10);
            margin-bottom: var(--px-20);
        }
    }

    .upload-div, .form-select{
        width: var(--width70);
        margin: var(--margin-0-auto);
    }

    .form-select{
        
        .ant-select-single{
            float: left;
        }
        
        span{
            font-size: 14px;
        }
    }
}