.qr-div{
    height: var(--height700);
    display: var(--displayFlex);
    flex-direction: var(--flexColumn);
    justify-content: var(--justify-center);

    img{
        margin: var(--margin-0-auto);
        width: 270px;
        height: var(--height-auto);
    }
    h1{
        font-size: 30px;
    }
    h2{
        padding: 20px;
        font-size: var(--px-60);
        color: var(--color);
    }
    p{
        text-align: var(--text-center);
    }
}
.auth-error{
    height: var(--height700);
}
.auth-error h2{
    padding-top: 200px;
    color: var(--color);
    text-align: justify;
}