.admin-coffee,
.user-coffee{
    height: var(--height700);
    p{
        text-align: var(--text-center);
    }
    form{
        margin-top: 30px;
        height: 40%;
        display: var(--displayFlex);
        flex-direction: var(--flexColumn);
        justify-content: var(--spaceAround);
    }
}
.ant-message .ant-message-notice-wrapper .ant-message-notice-content{
    margin-top: 100px;
}
.admin-coffee p{
    padding: 200px 0px 0px;
}
.user-coffee .count-coffee{
    font-size: 20px;
}
.coffee-cups{
    width: 80%;
    height: 50px;
    margin: 50px auto;
    
    .anticon{
        width: 40px;
        height: 50px;
    }
    svg{
        width: 40px;
        height: auto;
        color: var(--colorLightpurple);
    }
}
 .anticon.EIGHT-coffee{
    width: 80px;
    height: 100px;
    svg{
        width: 80px;
        height: auto;
        color: var(--colorLightpurple);
    }
}
.anticon.glowing-cup{
    svg{
        color: var(--colorOrange);
    }
}