.App {
  max-width: var(--maxWidth);
  /* height: var(--height700); */
  margin: var(--margin-0-auto);
  text-align: center;
  background: var(--colorWhite);
  color: var(--colorBlack);
}
.ant-spin .ant-spin-dot-spin{
  margin: 300px auto;
  width: 55px;
  height: 55px;
  box-shadow: none;
}
.ant-spin .ant-spin-dot-item{
  background: var(--color);
  width: 25px;
  height: 25px;
}
main{
  margin: var(--margin-0-auto);
}
h1,h2{
  line-height: 35px;
  width: var(--width80);
  margin: var(--margin-0-auto);
  font-size: var(--px-20);
  color: var(--colorBlack);
}
h3{
  font-size: 16px;
  width: var(--width80);
  margin: var(--margin-0-auto);
  padding-top: 25px;
}
p{
  line-height: var(--px-20);
  font-size: 14px;
  text-align: start;
  width: var(--width80);
  padding-top: var(--px-20);
  margin: var(--margin-0-auto);
}
button,input{
  cursor: var(--cursor);
}
span{
  font-size: 12px;
}
strong{
  color: var(--color);
}
.ant-result{
  padding-top: 180px;
}
.backward-button{
  position: fixed;
  display: var(--block);
  padding: 0px;
  width: var(--width100);
  max-width: var(--maxWidth);
  background: var(--background-transparent);
  height: 42px;
  border-radius: 0%;
  span{
    float: left;
    padding-left: var(--px-10);
  }
  svg{
    padding-top: 5px;
    width: var(--px-30);
    height: var(--px-30);
    color: var(--color);
  }
  a{
    display: inline-block;
    width: var(--width100);
    height: var(--width100);
  }
}
a{
  text-decoration: none;
}
form{
  margin-top: var(--px-30);
  height: 40%;
  display: var(--displayFlex);
  flex-direction: var(--flexColumn);
  justify-content: var(--spaceAround);
}
.ant-input,
.form-button{
  margin: var(--margin-0-auto);
  width: var(--width70);
  height: 50px;
  border: 1px solid var(--colorDarkpurple);
  border-radius: 18px;
}
.form-button{
  /* margin-top: var(--px-60); */
  background-color: var(--color);
  span{
      font-size: 18px;
  }
}

.navigation-button:hover:not(.active),
.horizon-anchors:hover:not(.active),
.backward-button:hover,
.settings-card:hover{
  background-color: rgba(16, 130, 236, 0.336);
}



@media screen and (max-width: 375px) {
  .logo{
    font-size: 16px;
  }
}
@media screen and (min-width: 320px) {
  .coffee-cups{
    width: var(--width60);
  }
  .coffee-cups .anticon:last-child{
    margin-top: 10px;
  }
}
@media screen and (min-width: 425px) {
  .coffee-cups{
    width: var(--width80);
  }
  .coffee-cups .anticon:last-child{
    margin-top: 40px;
  }
}