.home-div{
    height: auto;
    margin: var(--margin-0-auto);
    display: var(--displayFlex);
    flex-direction: var(--flexColumn);
    
    .horizontal-filter{
        position: fixed;
        z-index: 80;
        background: var(--colorWhite);
        margin-top: var(--px-60);
        display: var(--displayFlex);
        flex-direction: var(--flexRow);
        justify-content: var(--spaceBetwen);
        width: var(--width100);
        max-width: 768px;
        height: 55px;
        overflow-x: auto;
        white-space: nowrap;
        -ms-overflow-style: none; /* Для Internet Explorer и Edge */
        scrollbar-width: none; /* Для Firefox */
        
        .horizontal-filter::-webkit-scrollbar {
            display: none; /* Для Chrome, Safari и Opera */
        }
    }
    .horizon-anchors{
        margin-top: 12px;
        display: var(--inlineBlock);
        width: auto;
        padding: 0px var(--px-30);
        height: var(--px-30);
        line-height: var(--px-30);
        font-size: 14px;
        font-weight: 600;
        margin-right: var(--px-10);
        margin-left: var(--px-10);
        border-radius: 12px;
        border: 2px solid var(--colorLightpurple);
        color: var(--colorDarkpurple);
        transition: var(--transition-1-5);
    }
    .vertical-filter{
        position: relative;/*обязателен для стики*/
        margin-top: var(--px-115);
        margin-bottom: var(--px-115);
    }
    .cards-wrapper{
        display: var(--displayFlex);
        flex-direction: var(--flexRow);
        justify-content: var(--spaceBetwen);
        flex-wrap: wrap;
        
        .title-arrow svg{
            line-height: 60px;
            width: 15px;
            height: 12px;
            padding-bottom: 1.5px;
        }
        
        h3{
            position: -webkit-sticky;/*для прилипающих заголовков*/
            position: sticky;
            top: 115px;
            z-index: 10;
            text-align: var(--text-align);
            padding: 0px var(--px-40);
            width: var(--width100);
            line-height: 45px;
            background: rgba(255, 255, 255, 0.897);
        }

        .single-card-inner{
            margin: 15px auto;
            
            .card-description{
                width: 170px;
                display: var(--displayFlex);
                justify-content: var(--spaceBetwen);
                
                .description-div{
                    width: 80%;
                    display: var(--displayFlex);
                    flex-direction: var(--flexColumn);
                }

                .delete-button{
                    cursor: var(--cursor);
                    margin-right: 5px;
                    padding-top: 8px;
                    svg{
                        color: var(--colorDarkpurple);
                        transition: var(--transition-0-5);
                        width: var(--px-30);
                        height: var(--px-30);
                    }
                    svg:hover{
                        color: var(--colorRed);
                        transition: var(--transition-0-5);
                    }
                }
            }
            span{
                display: var(--inlineBlock);
                font-size: 12px;
            }
            p{
                font-weight: 500;
            }
            p,span{
                text-align: var(--text-align);
                padding-top: 3px;
                margin: 0;
            }
        }
    }
    img{
        border-radius: var(--border-radius-15);
        width: 170px;
        height: 188px;
    }
    .active{
        background: var(--color);
        transition: color 0.5s ease;
        color: var(--colorWhite);
        border: 2px solid var(--color);
    }
}