.home-div{
    height: auto;
    margin: var(--margin-0-auto);
    display: var(--displayFlex);
    flex-direction: var(--flexColumn);
    
    .horizontal-filter{
        position: fixed;
        z-index: 80;
        background: var(--colorWhite);
        margin-top: var(--px-60);
        display: var(--displayFlex);
        flex-direction: var(--flexRow);
        justify-content: var(--spaceBetwen);
        width: var(--width100);
        max-width: var(--maxWidth);
        height: 55px;
        overflow-x: auto;
        white-space: nowrap;
        -ms-overflow-style: none; /* Для Internet Explorer и Edge */
        scrollbar-width: none; /* Для Firefox */
        
        .horizontal-filter::-webkit-scrollbar {
            display: none; /* Для Chrome, Safari и Opera */
        }
    }
    .horizon-anchors{
        margin-top: 12px;
        display: var(--inlineBlock);
        width: auto;
        padding: 0px var(--px-30);
        height: var(--px-30);
        line-height: var(--px-30);
        font-size: 14px;
        font-weight: 600;
        margin-right: var(--px-10);
        margin-left: var(--px-10);
        border-radius: 12px;
        border: 2px solid var(--colorLightpurple);
        color: var(--colorDarkpurple);
        transition: var(--transition-1-5);
    }
    .vertical-filter{
        position: relative;/*обязателен для стики*/
        margin-top: var(--px-115);
        margin-bottom: var(--px-115);
    }
    .cards-wrapper{
        display: var(--displayFlex);
        justify-content: var(--spaceBetwen);
        flex-flow: row wrap;
        align-items: flex-start;
        
        .title-arrow svg{
            line-height: 60px;
            width: 15px;
            height: 12px;
            padding-bottom: 1.5px;
        }
        
        h3{
            position: -webkit-sticky;/*для прилипающих заголовков*/
            position: sticky;
            top: var(--px-115);
            z-index: 10;
            text-align: var(--text-align);
            padding: 0px var(--px-40);
            width: var(--width100);
            line-height: 45px;
            background: var(--background-transparent);
        }

        .single-card-inner{
            margin: 15px auto;
            
            .card-description{
                width: 170px;
                height: 61px;
                display: var(--displayFlex);
                justify-content: var(--spaceBetwen);
                align-items: center;
                .description-div{
                    width: var(--width80);
                    display: var(--displayFlex);
                    flex-direction: var(--flexColumn);

                    span{
                        display: var(--inlineBlock);
                        font-size: 12px;
                    }
                    p{
                        width: var(--width100);
                        font-weight: 500;
                    }
                    p,span{
                        text-align: var(--text-align);
                        padding-top: 0px;
                        margin: 0;
                    }
                }

                .delete-button,.shopping-button {
                    cursor: var(--cursor);
                    margin-right: 5px;

                    svg{
                        color: var(--colorDarkpurple);
                        transition: var(--transition-0-5);
                        width: var(--px-20);
                        height: var(--px-30);
                    }
                    svg:hover{
                        color: var(--colorRed);
                        transition: var(--transition-0-5);
                    }
                }
                .shopping-button{
                    svg{
                        width: var(--px-30);
                        height: var(--px-40);
                    }
                    svg:hover{
                        color: var(--color);
                        transition: var(--transition-0-5);
                    }
                }
            }
        }
    }
    img{
        border-radius: var(--border-radius-15);
        width: 170px;
        height: 188px;
    }
    .active{
        background: var(--color);
        transition: color 0.5s ease;
        color: var(--colorWhite);
        border: 2px solid var(--color);
    }
}

.product-div{
    height: var(--height700);
    padding-top: var(--px-60);
    
    .product-inner{
        padding-bottom: var(--px-115);
        padding-top: var(--px-80);
        
        .product-photo{
            width: 90%;
            height: var(--height-auto);
            border-radius: var(--border-radius-15);
        }
        
        h3{
            font-size: var(--px-20);
            text-align: var(--text-align);
        }
    }
}