nav{
    background-color: var(--color);
    line-height: 60px;
    height: 60px;
    max-width: var(--maxWidth);
    width: 100%;
    color: var(--colorWhite);
  }
.logo{
    margin-left: 10px;
    width: 50%;
    font-size: 20px;
    font-weight: 600;
}
.top-nav-wrapper{
    width: 50%;
    margin-right: 10px;
    display: var(--displayFlex);
    justify-content: var(--spaceAround);
}
.bottom-nav-wrapper{
    width: 85%;
    display: var(--displayFlex);
}
.navbar-top{
    display: var(--displayFlex);
    justify-content: var(--spaceAround);
    position: var(--fixedPosition);
    top: 0;
}
.navbar-bottom{
    display: var(--displayFlex);
    justify-content: var(--spaceAround);
    position: var(--fixedPosition);
    bottom: 0;
}
.navigation-button{
    width: 50px;
    height: auto;
    margin: 5px auto;
    background-color: var(--color);
    border: none;
}

.navigation-button svg{
    color: var(--colorLightpurple);
    transition: color 0.8s ease;
    height: auto;
    width: 25px;
}
.navigation-button svg > .active{
    color: var(--colorDarkpurple);
    transition: color 1.5s ease;
}