nav{
    background-color: var(--color);
    line-height: var(--px-60);
    height: var(--px-60);
    max-width: var(--maxWidth);
    width: var(--width100);
    color: var(--colorWhite);
    z-index: 99;
  }
.logo{
    margin-left: 20px;
    width: var(--width50);
    font-size: 20px;
    font-weight: 600;
}
.top-nav-wrapper{
    width: var(--width50);
    margin-right: 30px;
    display: var(--displayFlex);
    justify-content: var(--spaceAround);
    .navigation-button{
        width: var(--width50);
    }
}
.bottom-nav-wrapper{
    width: 85%;
    display: var(--displayFlex);
}
.navbar-top{
    display: var(--displayFlex);
    justify-content: var(--spaceAround);
    position: var(--fixedPosition);
    top: 0;
}
.navbar-bottom{
    display: var(--displayFlex);
    justify-content: var(--spaceAround);
    position: var(--fixedPosition);
    bottom: 0;
}
nav a{
    display: inline-block;
    width: var(--width100);
    height: 50px;
}
.navigation-button{
    width: 25%;
    height: auto;
    margin: 5px auto;
    padding: 0;
    background-color: var(--color);
    border: none;
    cursor: pointer;
    border-radius: var(--borderRadius);

}
.navigation-button svg{
    margin: 13px auto;
    color: var(--colorLightpurple);
    transition: color 0.8s ease;
    height: auto;
    width: 25px;
}
/* псевдоклассы navigation-button */

.navigation-button:hover:not(.active){
    background-color: rgba(16, 130, 236, 0.336);
}
.active{
    background-color: var(--colorWhite);
    svg{
        color: var(--colorDarkpurple);
        transition: var(--transition-1-5);
    }
}