.token-div{
    height: var(--height700);
    display: var(--displayFlex);
    flex-direction: var(--flexColumn);
    justify-content: var(--justify-center);
    .ant-result {
        padding-top: 0px;
    }
}