.contacts-wrapper{
    height: auto;
    background-image: url('./bg-shef.jpg');
    background-size: cover;
}
.contacts-bg-wrapper{
    background-color: rgba(255, 255, 255, 0.747);
    height: auto;
}
.contacts-inner{
    padding: 100px 10px 40px;
    display: var(--displayFlex);
    flex-direction: var(--flexRow);
    justify-content: var(--spaceBetwen);
    
    .hello-div{
        display: var(--displayFlex);
        flex-direction: column;
        justify-content: center;
        padding: 10px;
    }
    img{
        width: 60%;
        height: auto;
        border: 1px solid var(--color);
        border-radius: var(--border-radius-15);
    }
    h3{
        text-align: var(--text-align);
    }
}
p{
    font-weight: 500;
}
.contacts-bg-wrapper:last-child{
    padding-bottom: 150px;
}