.register{
    height: var(--height700);
    display: var(--displayFlex);
    flex-direction: var(--flexColumn);
    justify-content: var(--justify-center);

    span{
        display: var(--inlineBlock);
        width: var(--width80);
        margin: var(--margin-0-auto);
    }
    .backward-button{
        top: 60px;
        /* left: 20px; */
        /* float: left; */
        span{
            float: left;
            padding-left: var(--px-10);
            svg{
                left: 20px;
            }
        }
    }
}

.email-underlined{
    text-decoration: underline;
    color: var(--color);
}
.success-register{
    height: var(--height700);
    display: var(--displayFlex);
    flex-direction: var(--flexColumn);
    justify-content: var(--justify-center);
    .ant-result{
        padding-top: 0px;
    }
    span{
        margin-top: 20px;
        color: var(--color);
        text-decoration: var(--textUnderline);
            
    }
    .form-button span{
        margin-top: 0px;
        color: var(--colorWhite);
        text-decoration: none;
    }
}
.error-register{
    color: var(--colorRed)
}
