.register{
    height: 700px;
}
form{
    margin-top: 30px;
    height: 40%;
    display: var(--displayFlex);
    flex-direction: column;
    justify-content: var(--spaceAround);
}
.ant-input,
.form-button{
    margin: var(--margin-0-auto);
    width: 70%;
    height: 50px;
    border: 1px solid var(--colorDarkpurple);
    border-radius: 18px;
}
.form-button{
    background-color: var(--color);
    span{
        font-size: 18px;
    }
}
.email-underlined{
    text-decoration: underline;
    color: var(--color);
}
.success-register{
    display: var(--displayFlex);
    flex-direction: var(--flexColumn);
    justify-content: var(--spaceBetwen);
    /* padding-top: 80px; */
    /* button{
        margin-top: 80px;
        color: var(--colorWhite);
        font-size: 16px;
    } */
}
.error-register{
    color: var(--colorRed)
}
