.login-div{
    height: var(--height700);
    span{
        display: var(--inlineBlock);
        width: var(--width80);
    }
}
.account-logout-button{
    margin-top: 60px;
}
.success-login-h2{
    padding: 200px 20px 10px;
    text-align: var(--text-align);
}