.login-div{
    height: var(--height700);
    span{
        display: var(--inlineBlock);
        width: var(--width80);
    }
}
.success-login,
.success-login-not-admin {
    padding: 0px 20px 80px 20px;
    span{
        margin-top: 20px;
        color: var(--color);
        text-decoration: var(--textUnderline);
    }
    .form-button span{
        margin-top: 0px;
        color: var(--colorWhite);
        text-decoration: none;
    }
}
.success-login-not-admin h1{
    padding-top: 150px;
}
.account-logout-button{
    margin-top: 60px;
}
.success-login-h2{
    padding: 20px 20px 10px;
    text-align: var(--text-align);
}
.success-login-h1,
.admin-role{
    padding-top: 120px;
    font-size: 25px;
    color: var(--color);
}
.success-login-h1{
    padding-top: 20px;
}
