.admin-logged,
.user-logged,
.login-form {
    height: var(--height700);
    display: var(--displayFlex);
    flex-direction: var(--flexColumn);
    justify-content: var(--justify-center);
}
.link-to-register{
    padding-top: 15px;
}
.login-form{
    span{
        display: var(--inlineBlock);
        margin: var(--margin-0-auto);
        width: var(--width80);
    }
}
.admin-logged{
    h1{
       padding-top: var(--px-60);
       text-align: var(--text-align);
    }
}

.user-logged-wrapper{
    margin: var(--px-20);
    padding: var(--px-60);
    border: 2px dashed var(--color);
    h1{
        color: var(--color);
    }
    p{
        text-align: var(--text-center);
        
    }
}
.user-friend-logged-wrapper{
    margin: auto 10px;
    background: var(--color);
    
    .user-friend-logged-inner{
        background: var(--color);
        margin: var(--px-20);
        padding: var(--px-60);
        border: 4px solid var(--colorWhite);
        
        h1,p{
            color: var(--colorWhite);
            text-align: var(--text-center);
        }
    } 
}
